header {
	padding: 2em 4em;
	color: white;
}

.bg-black {
	background-color: black;
	color: white;
}

.rem-bullet {
	list-style: none;
}

.picgallery{
	height: 500px;
	/*background-color: black;*/
	color: white;
}