header {
	padding-top: 2em;
	padding-bottom: 2em;
	color: white;
}

ul, li{
	margin: 0 0 0 0;
}

form{
	padding-top: 150px;
	margin:auto;
}

.bg-black {

	background-color: black;
	color: white;
}*/

.rem-bullet {
	list-style: none;
}

.formContainer{
	height: 500px;
	background-color: black;
	color: white;
}

.img-gallery {
	width: 80%;
}

.img-size {
	width:100%;
}